<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SolasPropertyRental2.Properties.Settings.SolasPropertyRental1"
            connectionString="Data Source=SEC-3425-15-Hos\SQLEXPRESS;Initial Catalog=MovieDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>